<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>uploadTLogo</string>
		<key>smallName</key>
		<string>uploadTLogo</string>
		<key>singleStickers</key>
		<array>
			<dict>
				<key>color</key>
				<string>171e00</string>
				<key>name</key>
				<string>uploadT1</string>
				<key>smallName</key>
				<string>uploadT1s</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>color</key>
				<string>001a1c</string>
				<key>name</key>
				<string>uploadT2</string>
				<key>smallName</key>
				<string>uploadT2s</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>color</key>
				<string>232323</string>
				<key>name</key>
				<string>uploadT3</string>
				<key>smallName</key>
				<string>uploadT3s</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>color</key>
				<string>94d200</string>
				<key>name</key>
				<string>uploadT4</string>
				<key>smallName</key>
				<string>uploadT4s</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>color</key>
				<string>ffffff</string>
				<key>name</key>
				<string>uploadT5</string>
				<key>smallName</key>
				<string>uploadT5s</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>color</key>
				<string>232323</string>
				<key>name</key>
				<string>uploadT6</string>
				<key>smallName</key>
				<string>uploadT6s</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>color</key>
				<string>232323</string>
				<key>name</key>
				<string>uploadT7</string>
				<key>smallName</key>
				<string>uploadT7s</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>color</key>
				<string>ff6a96</string>
				<key>name</key>
				<string>uploadT8</string>
				<key>smallName</key>
				<string>uploadT8s</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>tiezhi_huabizi_icon</string>
		<key>smallName</key>
		<string>tiezhi_huabizi_icon</string>
		<key>singleStickers</key>
		<array>
			<dict>
				<key>name</key>
				<string>tiezhi_huabizi1</string>
				<key>smallName</key>
				<string>tiezhi_huabizi1</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_huabizi2</string>
				<key>smallName</key>
				<string>tiezhi_huabizi2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_huabizi3</string>
				<key>smallName</key>
				<string>tiezhi_huabizi3</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_huabizi4</string>
				<key>smallName</key>
				<string>tiezhi_huabizi4</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_huabizi5</string>
				<key>smallName</key>
				<string>tiezhi_huabizi5</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_huabizi6</string>
				<key>smallName</key>
				<string>tiezhi_huabizi6</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_huabizi7</string>
				<key>smallName</key>
				<string>tiezhi_huabizi7</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_huabizi8</string>
				<key>smallName</key>
				<string>tiezhi_huabizi8</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_huabizi9</string>
				<key>smallName</key>
				<string>tiezhi_huabizi9</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_huabizi10</string>
				<key>smallName</key>
				<string>tiezhi_huabizi10</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>tiezhi_jichuxingzhuang_icon</string>
		<key>smallName</key>
		<string>tiezhi_jichuxingzhuang_icon</string>
		<key>singleStickers</key>
		<array>
			<dict>
				<key>name</key>
				<string>tiezhi_jichuxingzhuang1</string>
				<key>smallName</key>
				<string>tiezhi_jichuxingzhuang1</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_jichuxingzhuang2</string>
				<key>smallName</key>
				<string>tiezhi_jichuxingzhuang2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_jichuxingzhuang3</string>
				<key>smallName</key>
				<string>tiezhi_jichuxingzhuang3</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_jichuxingzhuang4</string>
				<key>smallName</key>
				<string>tiezhi_jichuxingzhuang4</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_jichuxingzhuang5</string>
				<key>smallName</key>
				<string>tiezhi_jichuxingzhuang5</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_jichuxingzhuang6</string>
				<key>smallName</key>
				<string>tiezhi_jichuxingzhuang6</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_jichuxingzhuang7</string>
				<key>smallName</key>
				<string>tiezhi_jichuxingzhuang7</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_jichuxingzhuang8</string>
				<key>smallName</key>
				<string>tiezhi_jichuxingzhuang8</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_jichuxingzhuang9</string>
				<key>smallName</key>
				<string>tiezhi_jichuxingzhuang9</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_jichuxingzhuang10</string>
				<key>smallName</key>
				<string>tiezhi_jichuxingzhuang10</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>tiezhi_katongbiaoqing_icon</string>
		<key>smallName</key>
		<string>tiezhi_katongbiaoqing_icon</string>
		<key>singleStickers</key>
		<array>
			<dict>
				<key>name</key>
				<string>tiezhi_katongbiaoqing1</string>
				<key>smallName</key>
				<string>tiezhi_katongbiaoqing1</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_katongbiaoqing2</string>
				<key>smallName</key>
				<string>tiezhi_katongbiaoqing2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_katongbiaoqing3</string>
				<key>smallName</key>
				<string>tiezhi_katongbiaoqing3</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_katongbiaoqing4</string>
				<key>smallName</key>
				<string>tiezhi_katongbiaoqing4</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_katongbiaoqing5</string>
				<key>smallName</key>
				<string>tiezhi_katongbiaoqing5</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_katongbiaoqing6</string>
				<key>smallName</key>
				<string>tiezhi_katongbiaoqing6</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_katongbiaoqing7</string>
				<key>smallName</key>
				<string>tiezhi_katongbiaoqing7</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_katongbiaoqing8</string>
				<key>smallName</key>
				<string>tiezhi_katongbiaoqing8</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_katongbiaoqing9</string>
				<key>smallName</key>
				<string>tiezhi_katongbiaoqing9</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_katongbiaoqing10</string>
				<key>smallName</key>
				<string>tiezhi_katongbiaoqing10</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>tiezhi_lianbuzhuangshi_icon</string>
		<key>smallName</key>
		<string>tiezhi_lianbuzhuangshi_icon</string>
		<key>singleStickers</key>
		<array>
			<dict>
				<key>name</key>
				<string>tiezhi_lianbuzhuangshi1</string>
				<key>smallName</key>
				<string>tiezhi_lianbuzhuangshi1</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_lianbuzhuangshi2</string>
				<key>smallName</key>
				<string>tiezhi_lianbuzhuangshi2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_lianbuzhuangshi3</string>
				<key>smallName</key>
				<string>tiezhi_lianbuzhuangshi3</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_lianbuzhuangshi4</string>
				<key>smallName</key>
				<string>tiezhi_lianbuzhuangshi4</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_lianbuzhuangshi5</string>
				<key>smallName</key>
				<string>tiezhi_lianbuzhuangshi5</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_lianbuzhuangshi6</string>
				<key>smallName</key>
				<string>tiezhi_lianbuzhuangshi6</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_lianbuzhuangshi7</string>
				<key>smallName</key>
				<string>tiezhi_lianbuzhuangshi7</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_lianbuzhuangshi8</string>
				<key>smallName</key>
				<string>tiezhi_lianbuzhuangshi8</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_lianbuzhuangshi9</string>
				<key>smallName</key>
				<string>tiezhi_lianbuzhuangshi9</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_lianbuzhuangshi10</string>
				<key>smallName</key>
				<string>tiezhi_lianbuzhuangshi10</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>tiezhi_texiao_icon</string>
		<key>smallName</key>
		<string>tiezhi_texiao_icon</string>
		<key>singleStickers</key>
		<array>
			<dict>
				<key>name</key>
				<string>tiezhi_texiao1</string>
				<key>smallName</key>
				<string>tiezhi_texiao1</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_texiao2</string>
				<key>smallName</key>
				<string>tiezhi_texiao2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_texiao3</string>
				<key>smallName</key>
				<string>tiezhi_texiao3</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_texiao4</string>
				<key>smallName</key>
				<string>tiezhi_texiao4</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_texiao5</string>
				<key>smallName</key>
				<string>tiezhi_texiao5</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_texiao6</string>
				<key>smallName</key>
				<string>tiezhi_texiao6</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_texiao7</string>
				<key>smallName</key>
				<string>tiezhi_texiao7</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_texiao8</string>
				<key>smallName</key>
				<string>tiezhi_texiao8</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_texiao9</string>
				<key>smallName</key>
				<string>tiezhi_texiao9</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_texiao10</string>
				<key>smallName</key>
				<string>tiezhi_texiao10</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>tiezhi_tiantian_icon</string>
		<key>smallName</key>
		<string>tiezhi_tiantian_icon</string>
		<key>singleStickers</key>
		<array>
			<dict>
				<key>name</key>
				<string>tiezhi_tiantian1</string>
				<key>smallName</key>
				<string>tiezhi_tiantian1</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_tiantian2</string>
				<key>smallName</key>
				<string>tiezhi_tiantian2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_tiantian3</string>
				<key>smallName</key>
				<string>tiezhi_tiantian3</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_tiantian4</string>
				<key>smallName</key>
				<string>tiezhi_tiantian4</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_tiantian5</string>
				<key>smallName</key>
				<string>tiezhi_tiantian5</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_tiantian6</string>
				<key>smallName</key>
				<string>tiezhi_tiantian6</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_tiantian7</string>
				<key>smallName</key>
				<string>tiezhi_tiantian7</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_tiantian8</string>
				<key>smallName</key>
				<string>tiezhi_tiantian8</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_tiantian9</string>
				<key>smallName</key>
				<string>tiezhi_tiantian9</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_tiantian10</string>
				<key>smallName</key>
				<string>tiezhi_tiantian10</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>name</key>
		<string>tiezhi_toushi_icon</string>
		<key>smallName</key>
		<string>tiezhi_toushi_icon</string>
		<key>singleStickers</key>
		<array>
			<dict>
				<key>name</key>
				<string>tiezhi_toushi1</string>
				<key>smallName</key>
				<string>tiezhi_toushi1</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_toushi2</string>
				<key>smallName</key>
				<string>tiezhi_toushi2</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_toushi3</string>
				<key>smallName</key>
				<string>tiezhi_toushi3</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_toushi4</string>
				<key>smallName</key>
				<string>tiezhi_toushi4</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_toushi5</string>
				<key>smallName</key>
				<string>tiezhi_toushi5</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_toushi6</string>
				<key>smallName</key>
				<string>tiezhi_toushi6</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_toushi7</string>
				<key>smallName</key>
				<string>tiezhi_toushi7</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_toushi8</string>
				<key>smallName</key>
				<string>tiezhi_toushi8</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_toushi9</string>
				<key>smallName</key>
				<string>tiezhi_toushi9</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>tiezhi_toushi10</string>
				<key>smallName</key>
				<string>tiezhi_toushi10</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
